<h2>Сброс пароля</h2>
<p>Вы запросили сброс пароля.</p>
<p>Перейдите по ссылке ниже, чтобы создать новый пароль:</p>
<a href='{{url}}'>Сбросить пароль</a>
<p>Если вы не запрашивали сброс пароля — проигнорируйте это письмо.</p>
<p>С уважением, команда.</p>
<p>Если у вас возникли проблемы с переходом по ссылке, скопируйте и вставьте её
  в адресную строку вашего браузера:</p>
<p>{{url}}</p>
<p>Если вы не хотите получать подобные письма, пожалуйста, свяжитесь с нами.</p>
<p>Спасибо!</p>
{{! This template is used for password reset emails. }}
{{! It includes a link to reset the password and instructions for the user. }}
{{! The URL is dynamically inserted into the template when the email is sent. }}
{{! The template also provides instructions in case of issues with the link. }}