<h2>Подтверждение Email</h2>
<p>Здравствуйте!</p>
<p>Пожалуйста, подтвердите ваш email, перейдя по ссылке ниже:</p>
<a href='{{url}}'>Подтвердить Email</a>
<p>Если вы не регистрировались — проигнорируйте это письмо.</p>
<p>С уважением, команда.</p>
<p>Если у вас возникли проблемы с переходом по ссылке, скопируйте и вставьте её
  в адресную строку вашего браузера:</p>
<p>{{url}}</p>
<p>Если вы не хотите получать подобные письма, пожалуйста, свяжитесь с нами.</p>
<p>Спасибо!</p>